.searchForm__label {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 220px;
  margin: auto;
}

.searchForm__nameDetail {
  background-color: #fffcfc;
  border: 2px solid #b5b3b3;
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  padding: 6px;
  font-size: small;
  color: #757575;
  font-weight: bold;
}

.searchForm__nameDetail:focus,
.searchForm__nameDetail:hover {
  border: 2px solid #b5b3b3;
  box-shadow: 3px 3px 8px #aaa8a8;
}
