.backdrop {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  background-color: #a7b2c4;
  border: 4px solid #757575;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  /* margin: auto; */
  position: fixed;
  top: 6%;
  right: 6%;
  width: 250px;
}

.text {
  display: flex;
  justify-content: center;
  color: rgb(241, 18, 18);
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  text-shadow: -2px -1px 6px rgba(61, 59, 59, 0.59);
}
