.link:not(:last-child) {
  margin-right: 20px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
  color: #757575;
  font-weight: 500;
}

.link:focus,
.link:hover {
  text-shadow: 3px 3px 20px #fffcfc, -2px 1px 40px #fffcfc;
}

.navigation {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  line-height: 2;
  margin: 15px 0 15px 60px;
}
