.contactForm {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.label {
  font-size: 35px;
  margin-bottom: 5px;
}

.nameDetail {
  /* border: 2px solid #aaa8a8; */
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 11px;
  font-size: medium;
  color: #757575;
  font-weight: bold;
}

.nameDetail:focus {
  border: 2px solid #aaa8a8;
}

.nameDetail:hover {
  box-shadow: 3px 3px 24px rgba(8, 7, 7, 0.18);
}

.button {
  background-color: #757575;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  outline: none;
  padding: 11px 0;
  margin: auto;
  margin-top: 5px;
}

.button:focus,
.button:hover {
  box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #bbbbbb;
  color: #757575;
  cursor: pointer;
}
